<footer id="footer" class="main-footer clearfix">
    <h3>Powered by Google+</h3>
    <nav class="partners">
        {{! TODO: Component for tracked links. }}
        <a href="#">[Partner Logo]</a>
        <a href="#">[Partner Logo]</a>
        <a href="#">[Partner Logo]</a>
        <a href="#">[Partner Logo]</a>
    </nav>
</footer>
