<header id="header" class="main-header clearfix">
    <h1 class="app-logo-wrap">
        {{#link-to "index"}}Game City{{/link-to}}
    </h1>
    <nav>
        <nav class="language-nav">
            <a href="/pt">PT</a>
            <a href="/es">ES</a>
            <a href="/en">EN</a>
        </nav>
        <a href="TODO">Create</a>
        {{! TODO: Component for tracked links. }}
        <a href="/how-it-works">How It Works</a>
        <a href="/faq">FAQ</a>
        {{#link-to "about"}}About{{/link-to}}
    </nav>
</header>
